/* Page background */
.profile-container {
  min-height: 100vh;
  width: 100vw;
  background: #181818;
  font-family: "Poppins", sans-serif;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: rgba(76, 72, 72, 0.12);
  backdrop-filter: blur(12px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.7);
}

.logo {
  color: #008080;
}

.signout-btn {
  background: #008080;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* Mine section */
.mine-section {

  padding: 20px;
}

.mine-section h1{
  margin-top: 0%;
}

.carbon-btn {
  margin-top: 0%;
  padding: 12px 20px;
  background: #008080;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

/* Form */
.form-card {
  margin: 40px;
  margin-top: 0%;
  padding: 40px;
  background: rgba(76, 72, 72, 0.12);
  backdrop-filter: blur(12px);
  border-radius: 15px;
  width: 40%;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

.form-info {
  color: #e0f2f1;
}

.form-input input {
  width: 90%;
  padding: 12px;
  margin-top: 20px;
  border-radius: 8px;
  border: none;
}

.result {
  margin-top: 20px;
  color: #00e676;
}

.next-btn {
  margin-top: 25px;
  padding: 12px 20px;
  background: #008080;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


/* Navbar styling */
.navbar {
  width: 100;
  padding: 15px 40px;
  background: #1f1f1f;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #008080;
}

.signout-btn {
  background: #008080;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.signout-btn:hover {
  background: #30949d;
}

/* Mine name section */
.mine-section {
  padding: 30px 60px;
}

.carbon-btn {
  margin-top: 10px;
  padding: 12px 20px;
  background: #008080;
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.carbon-btn:hover {
  background: #30949d;
}

.AlignForm {
  display: flex;
  margin-top: 0%;
}