.progress-card {
  background: rgba(76, 72, 72, 0.12);
  backdrop-filter: blur(12px);
  margin: 20px;
  margin-top: 0%;
  padding: 40px;
  border-radius: 15px;
  width: 40%;
  height: 40vh;
  color: white;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

.progress-card h3 {
  color: #008080;
  margin-bottom: 10px;
  font-weight: 600;
}

/* Steps */
.progress-steps {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.progress-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Circle */
.circle {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid #008080;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #008080;
}

/* Active step */
.circle.active {
  background: #008080;
  color: white;
}

/* Completed */
.circle.completed {
  background: #30949d;
  color: white;
  border: none;
}

.step-label {
  font-size: 16px;
  color: #ccc;
}

.active-text {
  color: white;
  font-weight: 600;
}